/* 
general 
-------
*/
body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #fff !important;
}

.mainLayout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}

/* 
  title holder
  ------------
  */
.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder:after {
  transform: translateX(-50%);
  content: "";
  background: #2ad4cf;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}

.site-card-wrapper {
  padding: 30px;
  background: #f3f3f3;
}

.app-card {
  text-align: center;
  height: 200px;
  background: rgba(248, 248, 248, 0.9);
}

.ant-card-hoverable:hover {
  background: #fff;
}

.app-card:hover {
  color: red;
}

.app-card-container {
  height: 200px;
}

.home-logo {
  display: flex;
  align-items: center;
}

.home-logo img {
  width: 10%;
}

.home-logo a {
  padding-left: 15px;
  color: #735348;
  font-family: "Arial";
  font-size: large;
  font-weight: 700;
}

.app-card .icon-image {
  color: #71473d;
  font-size: 48px;
  width: 80px;
  padding-bottom: 10px;
  margin: auto;
}

.app-card .icon-image .a {
  fill: none;
  stroke: #71473d;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.app-card .title {
  color: #71473d;
  font-size: 18px;
  font-weight: 500;
}

.titleHolder h2 {
  font-size: 28px;
  margin: 0;
}

/* 
  header
  ------ 
  */
.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header .logo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
}

.header .logo .fas {
  color: #2ad4cf;
  margin: 0 5px 0 0;
  font-size: 28px;
}

.header .logo a {
  color: #333;
}

.header .ant-anchor-wrapper {
  background: none;
}

.header .ant-anchor {
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}

.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
  content: "";
  background: #2ad4cf;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}

/* ant menu */
.header .ant-menu {
  border: 0;
  background: none !important;
}

.header .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
}

.header .ant-menu li.ant-menu-item:before,
.header .ant-menu li.ant-menu-item:after {
  content: "";
  background: #2ad4cf;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-menu li.ant-menu-item:after {
  left: auto;
  right: 30%;
}

.header .ant-menu li.ant-menu-item,
.header .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: #2ad4cf;
  background: none;
}

.header .ant-menu li.ant-menu-item-selected:before,
.header .ant-menu li.ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-menu li.ant-menu-item-selected:after,
.header .ant-menu li.ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
}

.internal-anchor .ant-anchor-ink::before {
  width: 0px;
}

.app-preview .ant-card-body {
  padding: 0;
}

.app-preview .main-img {
  -webkit-box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%),
    0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%);
}

.sec-col {
  padding: 36px 0;
}

.download-button .icon {
  font-size: xx-large;
  padding: 0 7px;
}

.download-button {
  margin: 0 10px;
  display: flex;
  align-items: center;
  height: 65px;
  /* background: black; */
  /* color: #fff; */
  border-radius: 10px;
  width: 180px;
}

.download-app-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-button .download-store {
  font-weight: 500;
  font-size: large;
}

.download-button .into-text {
  font-size: smaller;
}

.download-app-buttons {
  margin-top: 40px;
  text-align: center;
}

.download-button .info {
  line-height: 1.5;
}

.client-login-app-name {
  font-weight: 700;
  font-size: larger;
  padding: 20px 0;
  color: #71473d;
  font-family: "Arial";
}
/* 
  hero
  ---- 
  */
.heroBlock {
  background: url("assets/images/bg-hero.png") no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}

.client-login-block {
  background: url("assets/images/client_login_bg.png") no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}

.heroBlock .container {
  display: flex;
  height: 100%;
  align-items: center;
}

.heroBlock .content {
  width: 100%;
}

.heroBlock h3 {
  font-size: 30px;
  line-height: 1.2;
  margin: 0 0 30px;
}

.heroBlock p {
  margin: 0 0 30px;
}

.heroBlock .btnHolder {
  height: auto !important;
}

.heroBlock .btnHolder button,
.heroBlock .btnHolder .fas {
  margin: 0 10px 0 0;
}

/* 
  block
  ----- 
  */
.block {
  padding: 60px 0;
  border-bottom: 1px solid #d9d9d9;
}

/* 
  about
  ----- 
  */
.aboutBlock .contentHolder {
  text-align: center;
  margin: 0 0 50px;
}

.aboutBlock .icon {
  font-size: 40px;
  color: #2ad4cf;
  margin: 0 0 10px;
}

.aboutBlock .content {
  text-align: center;
}

/* 
  how it works
  ------------
  */
.worksBlock {
  background: url("assets/images/bg-works.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}

.worksBlock:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.worksBlock h2 {
  color: #fff;
}

.worksBlock .contentHolder {
  text-align: center;
}

.worksBlock .contentHolder button {
  font-size: 40px;
  line-height: 1;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 30px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

/* 
  faqs
  ----
  */
.faqBlock .ant-collapse {
  margin: 0 0 40px;
}

.faqBlock .quickSupport {
  text-align: center;
  max-width: 740px;
  margin: auto;
}

.faqBlock .fas {
  margin: 0 10px 0 0;
}

/* 
  pricing block
  -------------
  */
.pricingBlock .ant-list {
  text-align: center;
}

.pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
  box-shadow: 0 0 12px 2px #f3f3f3;
  transform: scale(1.1);
  position: relative;
  z-index: 1;
}

.pricingBlock .ant-card-head-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.pricingBlock .large {
  font-size: 38px;
  line-height: 1;
  margin: 0 0 20px;
}

.pricingBlock .fab {
  margin: 0 10px 0 0;
}

/* 
  contact
  -------
  */
.contactBlock .ant-form {
  max-width: 640px;
  margin: auto;
}

.contactBlock .ant-form textarea {
  min-height: 120px;
  height: 120px;
}

/* 
  footer
  ------
  */
.ant-layout-footer {
  background: #111 !important;
  color: #fff !important;
  padding: 60px 0 !important;
  text-align: center;
}

.footer .logo {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.footer .fas {
  color: #2ad4cf;
  font-size: 28px;
  margin: 0 5px 0 0;
}

.footer .logo a {
  color: #fff;
}

.footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}

.footer .socials li {
  margin: 0 20px;
}

.footer .socials a {
  color: #fff;
}

.footer .socials a:hover {
  color: #2ad4cf;
}

.footer .goTop:hover {
  opacity: 0.7;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

/* 
  responsive
  ----------
  */
@media only screen and (max-width: 991px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }

  .app-card {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 767px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .app-card {
    margin: 10px 0;
  }

  .mobileVisible {
    display: block;
  }

  .mobileHidden {
    display: none;
  }
}
