@import "~antd/dist/antd.css";

:root {
  --cinzento-padrao: #f4f4f4;
  --app-padrao: #29cfd4;
  --app-padrao-hover: #29cfd4;
  --app-vermelho: #DC4438;
  --sidebar: #29cfd4;
  --header: #ffffff;
  --content: #ffffff;
  --text-color: #444444;
  --subtitles-color: #c00000;
  --vmenu-active: #24084B;
  --botao-secundario: #27ae60;
  --botao-principal: var(--app-padrao);
  --app-menu-item-hover: #1890ff;
}

.main-header{
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
}

.main-header .home-logo img {
  width: 23%;
}

.main-header .home-logo a {
  font-size: medium;
}

.main-header .home-logo{
  width: 200px;
}

.main-header .header .ant-menu li.ant-menu-item:before, .main-header .header .ant-menu li.ant-menu-item:after {
  content: "";
  background: #2ad4cf;
  width: 1px;
  position: relative;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.main-header .header {
  padding: 10px 0;
}

.ant-menu-horizontal{
  text-align: right;
}

body {
  background-color: var(--cinzento-padrao);
  font-family: "Segoe UI";
}

.mt-30{
  margin-top: 30px;
}

.pb-10{
  padding-bottom: 10px;
}

.btn-client{
  text-decoration: none;
  background: #eff7f6;
  color: #40a9ff;
  border-color: #40a9ff;
}

.buttons{
  width: 100%;
}

.extra {
  padding-bottom: 25px;
}

.home-banner {
  position: relative;
  height: 512px;
  overflow: hidden;
  background: url(https://gw.alipayobjects.com/zos/basement_prod/a8cf2dfe-ff6a-4a2e-ab73-f72dced0df99.svg);
  background-size: cover;
}

.home-banner-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#header.home-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  background: 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.content .main {
  padding-bottom: 25px;
}

.chart-title{
  font-size: 16px;
  font-weight: 600;
}

.chart-container{
  margin: 0 -15px;
}

.dash-card{
  background: #fff;
  height: 150px;
  border-radius: 3px;
}

.dash-card a{
  color: #fff;
  display: flex;
  padding: 15px;
  flex-direction: column;
  height: 100%;
}

.dash-designacao{
  font-size: 16px;
}

.page-title {
  font-size: 18px;
  color: #DC4438;
  padding-bottom: 10px;
}

.dash-valor{
  font-size: 26px;
  font-weight: 600;
}

.dash-icon{
  align-self: flex-end;
  padding-top: 30px;
  font-weight: 500;
}

.clientes{
  background: #53A9DF;
}

.transacoes{
  background: #2DB383;
}

.utilizadores{
  background: #DC3D39;
}

.entradas{
  background: #BF2D4A;
}

.dash-chart{
  background: #fff;
  padding: 15px;
  min-height: 300px;
  border-radius: 3px;
}

.ccc-sidebar{
  background: var(--sidebar);
  color: #fff;
}

.ccc-sidebar-menu{
  background: var(--sidebar) !important;
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
}

.ccc-sidebar-menu ul{
  background: var(--sidebar) !important;
  color: #fff;
}

.ccc-sidebar-menu a{
  color: #fff !important;
}

.ccc-sidebar-menu a:hover{
  color: #fff !important;
}

.ccc-sidebar-menu .ant-menu-item:hover,
.ccc-sidebar-menu .ant-menu-item-active,
.ccc-sidebar-menu .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ccc-sidebar-menu .ant-menu-submenu-active,
.ccc-sidebar-menu .ant-menu-submenu-title:hover {
  color: #fff;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: var(--app-padrao);
}

.login-form-button{
  border-radius: 15px;
  height: 35px;
  padding: 2px 15px;
}


#root,
#root > div {
  height: 100%;
}

div.logo {
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

.logo-header{
  margin: 0;
  height: 100%;
  display: flex;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.brand-slogan{
  font-size: large;
  font-weight: 500;
  color: #4F347E;
  width: 75%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo-brand{
  width: 25%;
  height: 55px;
  display: flex;
  align-items: center;
}

.logo-header img{
  padding: 2px;
  margin-left: 5px;
  max-height: 100%;
}

.ccc-icon{
  font-size: 20px !important; 
  font-weight: bold;
  color: #fff;
}

p.app-name{
  color: var(--app-vermelho);
  font-weight: 500;
  font-size: large;
  padding: 10px 0;
}

div.logo img {
  width: 30%;
}

span.logo {
  font-family: "Bauhaus 93";
  color: var(--app-padrao);
  margin: 0;
}

.ant-btn-primary,
.ant-checkbox-checked .ant-checkbox-inner {
  border-color: var(--app-padrao);
  background: var(--app-padrao);
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background: var(--app-padrao-hover);
  border-color: var(--app-padrao-hover);
}

.ant-layout-sider {
  background: var(--sidebar);
  height: 100%;
}

.ccc-layout-content-general {
  /* padding: 15px; */
  margin: 50px;
  background: var(--content);
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.ant-page-header-content {
  padding-top: 20px;
}

.ant-layout {
  background: var(--cinzento-padrao);
}

.text-center{
  /* text-align: center; */
}

.ccc-card-menu .ant-card-meta-description {
  font-size: 10px;
  text-align: center;
}

.ccc-card-menu .ant-card-cover .anticon {
  padding: 20px 0 0 0;
  font-size: 36px;
  color: rgb(115, 48, 115);
}

.ccc-card-menu .ant-card-body{
  padding-top: 10px;
}

.ant-card-meta-title {
  text-align: center;
}

.ant-page-header-heading-extra {
  min-width: 400px;
  display: flex;
  justify-content: flex-end;
}

.edoc-layout-content-dashboard {
  background: var(--cinzento-padrao);
}

#header {
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: #fff;
  /* -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2; */
}

#header a {
  color: #444;
  font-size: 16px;
  font-weight: 500;
}

#header a:hover,
#header a:active,
#header a:focus {
  color: var(--app-padrao);
}

#header .menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

#menu-toogler {
  position: relative;
  height: 100%;
  margin: 0 20px 0 0;
  padding-left: 16px;
  line-height: 53px;
  white-space: nowrap;
  /* border-left: 1px solid #f0f0f0; */
}

.top-menu {
  border: 0;
  margin: 0;
  display: flex;
  list-style: none;
  padding-left: 0;
  line-height: 51px;
  margin-left: auto;
  margin-right: 15px;
}

.top-menu-item {
  min-width: 40px;
  margin-right: 12px;
  margin-left: 0px;
}

/* CUSTUM CSS */
.ant-menu-submenu-selected {
  color: var(--app-menu-item-hover);
  font-weight: 500;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: var(--app-menu-item-hover);
  font-weight: 500;
}

.ant-menu-item a:hover {
  color: var(--app-menu-item-hover);
}

.ant-menu-item-selected {
  color: var(--app-menu-item-hover);
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid var(--vmenu-active);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--vmenu-active) !important;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 0px !important;
  width: 95%;
}

html {
  --antd-wave-shadow-color: var(--vmenu-active) !important;
  --scroll-bar: 0;
}

.ant-menu-submenu-vertical
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical-left
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical-right
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow::after,
.ant-menu-submenu-inline
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow::before,
.ant-menu-submenu-vertical-left
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow::before,
.ant-menu-submenu-vertical-right
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow::before,
.ant-menu-submenu-inline
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow::before {
  background: linear-gradient(
    to right,
    var(--app-padrao),
    var(--app-padrao)
  );
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  margin-top: 0px;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  right: 1px; /* Acerto da linha do active do menu */
}

.ant-menu-vertical .ant-menu-submenu-selected,
.ant-menu-vertical-left .ant-menu-submenu-selected,
.ant-menu-vertical-right .ant-menu-submenu-selected {
  color: var(--app-padrao);
  background-color: var(--vmenu-active);
}

.notifications-dropdown {
  top: 60px !important;
  max-width: 290px;
  min-width: 290px;
  max-height: 430px;
  border-radius: 10px;
  background-color: #ffffff;
  /* border: 1px solid #cccccc; */
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.notifications-dropdown::before {
}

.notifications-dropdown ul {
  padding: 20px;
  overflow-y: auto;
  max-height: 350px;
  overflow-x: hidden;
}

.notifications-dropdown-header {
  background-color: #686767;
  height: 35px;
}

.notifications-dropdown-footer {
  background-color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications-dropdown-footer a {
  color: var(--app-padrao);
  text-align: center;
  font-size: 12pt;
}

.notification-item {
  color: #706e6e;
}

.notification-item:hover {
  color: var(--app-padrao);
}

.notification-item p {
  padding-bottom: 5px;
  margin: 0;
}

.notification-item span {
  font-weight: 500;
  padding-right: 5px;
}

.center-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cinzento-padrao);
}

.default-layout {
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.ant-pagination-item-active a {
  color: #fff;
}

.ant-pagination-item-active {
  font-weight: 500;
  background: var(--app-padrao);
  border-color: var(--app-padrao);
  border-radius: 50%;
}

.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
  border-color: var(--app-padrao);
  background: var(--cinzento-padrao);
}

.ant-pagination-item-active a:hover {
  color: #fff;
}

.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
  color: var(--app-padrao-hover);
}

.edoc-btn-sec {
  color: #ffffff;
  border-radius: 6px;
  border-color: var(--botao-secundario);
  background: var(--botao-secundario);
}

.edoc-btn-sec:hover,
.edoc-btn-sec:focus {
  background: #148142;
  border-color: #148142;
  color: #ffffff;
}

.edoc-btn-danger {
  background: #ff4d4f;
  border-color: #ff4d4f;
  color: #ffffff;
  border-radius: 6px;
}

.edoc-btn-danger:hover,
.edoc-btn-danger:focus {
  color: #fff;
  background: #ff7875;
  border-color: #ff7875;
}

.edoc-btn-danger:active {
  color: #fff;
  background: #d9363e;
  border-color: #d9363e;
}

.edoc-btn-primary {
  border-color: var(--app-padrao);
  background: var(--app-padrao);
  border-radius: 6px;
}

.edoc-btn-primary:hover {
  background: var(--app-padrao-hover);
  border-color: var(--app-padrao-hover);
}

.edoc-btn-info {
  background: #707070;
  border-color: #707070;
  color: #ffffff;
  border-radius: 6px;
}

.edoc-btn-info:hover,
.edoc-btn-info:focus {
  color: #fff;
  background: #555555;
  border-color: #555555;
}

.edoc-btn-info:active {
  color: #fff;
  background: #444444;
  border-color: #444444;
}

.edoc-btn{
  border-radius: 6px;
}

.main-title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.document-uploaded > span {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.document-uploaded .ant-upload-select {
  padding-right: 10px;
}

.edoc-dropdown-menu {
  width: 120px;
}

.edoc-dropdown-menu a span {
  padding-right: 10px;
}

.edoc-dropdown-menu ul li {
  margin: 0;
}

.edoc-delete-item a {
  color: var(--app-padrao);
}

.edoc-delete-item a:hover {
  color: var(--app-padrao);
}

/* SCROLL */
/* width */
::-webkit-scrollbar {
  width: 8px;
  z-index: 10;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000021;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
  width: 8px;
}

.react-pdf__Page{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media only screen and (min-width: 1900px) {
  .header {
    padding: 3px 0 !important;
  }
} */
